Qdrant-pratica/n8n-chat-pratica.json
{
  "name": "n8n-chat-pratica",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a8a2764d-4757-4e47-b6b0-896a9e65e3d9",
      "name": "When chat message received",
      "webhookId": "5e5c4757-9d6b-4472-95df-e1c208d7cac7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "b2978ef7-a9e4-4430-bece-be9f204cfc14",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "02dc21e0-3937-47f2-9e2a-790c27a16e31",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        176
      ],
      "id": "ce900a79-6b20-4e91-a890-c54ee3a10b20",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AMAiWxou9nHF2YE4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=sempre utilize essa ferramenta: Buscando esta informação no seu banco vetorial\n{{ $json.chatInput }}",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n-chat-pratica",
          "mode": "list",
          "cachedResultName": "n8n-chat-pratica"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        576,
        112
      ],
      "id": "792beb58-696e-4c94-ba3d-c24ed9d3eba1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ofJdUDdrwapIgpUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "dd509b48-e119-41d3-9783-7d46c5de4380",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "n0vRL4UCLvFgv5D9",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "21e62051-3be7-4ee7-bc99-1b5b5834f2a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f8afbfad89b38a5f14a59e43700b5ab589fd024ef69eab73cab00905054361"
  },
  "id": "Co0SyBkPdYkKFBeN",
  "tags": []
}