Qdrant-pratica/n8n-chat-pratica-Tool.json
{
  "name": "n8n-chat-pratica-Tool",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ff0d25ad-284c-4a1c-8e11-6fd45f7dd9ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\":[\"https://www.nationalgeographicbrasil.com/viagem/2026/02/as-14-praias-iconicas-para-visitar-pelo-menos-uma-vez-na-vida-eleitas-pela-national-geographic\", \"https://www.nationalgeographicbrasil.com/viagem/2026/02/as-14-praias-iconicas-para-visitar-pelo-menos-uma-vez-na-vida-eleitas-pela-national-geographic\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "40d601b1-fc58-4213-a086-5787dc8c4c0a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "7931248b-2782-4adb-8f84-0e5b565e5d14",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "7bdea0b9-a194-4846-8506-c21a1a8c71b6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        208
      ],
      "id": "eb8019a4-30a2-426b-b4bd-2647eac646d5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "h1, h2, h3, h4, h5, p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1248,
        208
      ],
      "id": "9c9b7cd1-79d9-491b-869d-9e361800319f",
      "name": "HTML"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        -112
      ],
      "id": "742e022f-70fc-4315-aaf5-88d1446dc6eb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n-chat-pratica",
          "mode": "list",
          "cachedResultName": "n8n-chat-pratica"
        },
        "embeddingBatchSize": 600,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1120,
        -144
      ],
      "id": "8cd4876b-d7ce-44fb-ac2f-2dc3ecad2743",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ofJdUDdrwapIgpUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1056,
        16
      ],
      "id": "a0108070-2654-4216-a919-6f4fb072e4f0",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "n0vRL4UCLvFgv5D9",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1424,
        0
      ],
      "id": "e8364556-cfd5-482b-a27c-77b12d042a30",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1424,
        160
      ],
      "id": "57497fdf-18cf-43bf-9ee9-d692b7abbe69",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "urls": [
            "https://www.nationalgeographicbrasil.com/viagem/2026/02/as-14-praias-iconicas-para-visitar-pelo-menos-uma-vez-na-vida-eleitas-pela-national-geographic",
            "https://www.nationalgeographicbrasil.com/viagem/2026/02/as-14-praias-iconicas-para-visitar-pelo-menos-uma-vez-na-vida-eleitas-pela-national-geographic"
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2ca8f289-727e-487c-adde-1436f0945dea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f8afbfad89b38a5f14a59e43700b5ab589fd024ef69eab73cab00905054361"
  },
  "id": "qpMQZQ0L90mNPHlu",
  "tags": []
}