Qdrant-aula/Chat com agente/Chat.json
{
  "name": "Chat",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        -112
      ],
      "id": "9c1fead2-e8ff-4dfa-9c4f-3443ae170426",
      "name": "When chat message received",
      "webhookId": "cca981d5-ec5d-4a51-9695-91f21c1158f1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -160
      ],
      "id": "983449db-c437-41aa-a61f-45a3abbaffe8",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        112
      ],
      "id": "0336f7fc-32be-46e9-bd1a-efa3b145905f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "The knowlegde base to answer user questions about Elestio"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        608,
        48
      ],
      "id": "c7d2e126-0467-464e-b071-485f07d27ff4",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_knowledge_base",
          "mode": "list",
          "cachedResultName": "n8n_knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "4f2c7b5e-6541-4e2b-ad89-7b22213b1e2c",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ofJdUDdrwapIgpUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        64
      ],
      "id": "14647f48-831a-432c-9310-27ba58bec873",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "AMAiWxou9nHF2YE4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        560,
        416
      ],
      "id": "1408e2c4-e3ef-4e5c-bbba-e5986b2db3b9",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "n0vRL4UCLvFgv5D9",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=sempre utilize essa ferramenta: Buscando esta informação no seu banco vetorial\n{{ $json.chatInput }}",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_knowledge_base",
          "mode": "list",
          "cachedResultName": "n8n_knowledge_base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1280,
        96
      ],
      "id": "ca5a407e-88ac-4479-a8c5-600a16fe8998",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "ofJdUDdrwapIgpUd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "sentence-transformers/distilbert-base-nli-mean-tokens",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        784,
        176
      ],
      "id": "6e5da8e5-a439-4485-b855-71d0c6faf4de",
      "name": "Hugging Face Inference Model",
      "credentials": {
        "huggingFaceApi": {
          "id": "n0vRL4UCLvFgv5D9",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        []
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face Inference Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9453b891-df57-43bd-8694-e3a2a6c23941",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f8afbfad89b38a5f14a59e43700b5ab589fd024ef69eab73cab00905054361"
  },
  "id": "tqbUzbLCgkb0jkYs",
  "tags": []
}